!/src
!/scripts

/scripts/**/*
!/scripts/*.bat
!/scripts/*.conf

/**/*.pi_depend
/**/*.c.ts

/**/*.s.ts
/**/*.c.json
/**/*.s.json
/**/*.es6.js
/**/*.tpl.ts
/src/**/xls/*.rs
/src/**/*.depend
/src/pi_sys
/**/pi_sys
/src/pi_build
/src/pi_pt

